/*  cores utilizadas: https://coolors.co/palette/07beb8-3dccc7-68d8d6-9ceaef-c4fff9 */
body
{
    background-color:#C4FFF9;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: auto;
}