/*  cores utilizadas: https://coolors.co/palette/0a2d27-13594e-1d8676-26b29d-30dfc4-59e5d0-83ecdc-acf2e7-d6f9f3 */
body
{
    background-color:#D6F9F3;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: auto;
}

h1
{
    text-align: center;
    color: #0A2D27;
}